<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="prototypePattern" class="com.zhy.DesignPattern.Prototype.DeepSerialize.Student">
		<property name="name" value="Jim"></property>
		<property name="age" value="20"></property>
		<property name="course" ref="course"></property>
	</bean>
	<bean id="course" class="com.zhy.DesignPattern.Prototype.Course">
		<property name="name" value="C++"></property>
	</bean>
</beans>
