<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="adapterPattern" class="com.zhy.DesignPattern.Adapter.Class.CalculationAdapter"></bean>
	<!-- <bean id="adapterPattern" class="com.zhy.DesignPattern.Adapter.Object.CalculationAdapter">
		<constructor-arg ref="adaptee"></constructor-arg>
	</bean>
	<bean id="adaptee" class="com.zhy.DesignPattern.Adapter.CalculationAdaptee"></bean> -->
</beans>
