<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="simpleFactoryPattern" value="audi"/>
    <add key="factoryMethodPattern" value="FactoryMethodPattern.Factory.AudiFactory"/>
    <add key="abstractFactoryPattern" value="AbstractFactoryPattern.Factory.AudiFactory"/>
    <add key="builderPattern" value="BuilderPattern.BuilderAudi"/>
    <add key="prototypePattern" value="PrototypePattern.ShallowStudent"/>
    <add key="adapterPattern" value="AdapterPattern.CalculationObjectAdapter"/>
    <add key="bridgePatternPhone" value="BridgePattern.MEIZU"/>
    <add key="bridgePatternApp" value="BridgePattern.Music"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>